@model fio.Models.BillModel
@{
    ViewBag.Title = Model.Bill.Name + " on fiO";
}

<div class="welcome-header">@Model.Bill.Name</div>

<div class="header-highlight">
    Details
</div>
<h2 class="text-center">@Model.Bill.RAmount.ToString("C") per month</h2>
@*<p>Due on the @fio.Controllers.DashboardController.AddOrdinal(@Model.Bill.Due)</p>*@
<h2 class="text-center">@Model.Bill.SAmount.ToString("C") initial fee</h2>

<div class="header-highlight">
    People
</div>
<ul class="center-block people-list center-block">
    @foreach (var pair in Model.Payers)
    {
        <li>
            <strong>@pair.Key.Name</strong>
            <br/>
            Recurring: @((pair.Value.RPercent).ToString("P2")) (@(((decimal)pair.Value.RPercent * Model.Bill.RAmount).ToString("C")))
            <a href="@fio.Controllers.DashboardController.RequestLink(pair.Value.Id)">Request Money</a>
            <br/>
            One Time: @((pair.Value.SPercent).ToString("P2")) (@(((decimal)pair.Value.SPercent * Model.Bill.SAmount).ToString("C")))
            <a href="@fio.Controllers.DashboardController.RequestLink(pair.Value.Id, false)">Request Money</a>
        </li>
    }
</ul>
